
[submodule "themes/hugo-minimalist-theme"]
	path = themes/hugo-minimalist-theme
	url = https://github.com/digitalcraftsman/hugo-minimalist-theme.git
[submodule "themes/hugo-redlounge"]
	path = themes/hugo-redlounge
	url = https://github.com/PLCMercenary/hugo-redlounge.git
