[submodule "/Users/twinflame_automation/Dropbox/Sites/mohawk-fist/themes/hugo-minimalist-theme"]
	path = /Users/twinflame_automation/Dropbox/Sites/mohawk-fist/themes/hugo-minimalist-theme
	url = https://github.com/digitalcraftsman/hugo-minimalist-theme.git
